{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid" style= "background-color: maroon;">

            <a class="navbar-brand" href="#">
                <img src="{% static "/HomeApp/Images/Emb logo 3.png" %}" width=70,height=50 >
            </a>
           <button class="navbar-toggler border border-3 border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon "></span>
           </button>
         <div class="collapse navbar-collapse justify-content-center" id="navbarNav" >
               <ul class="navbar-nav text-white">
                   <li class="nav-item">
                     <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link text-white" href="{% url 'About'%}">About Us</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link text-white" href="{% url 'Contact'%}">Contact</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link text-white" href="{% url 'blog:All_blogs'%}">Blog</a>
                   </li>
               </ul>
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item mx-2">
                    <a href="{% url "login" %}" class="nav-link text-white">Login</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a href="{% url 'signupuser' %}" class="nav-link text-white">Registration</a>
                  </li>
                  
               </ul>
           </div>
           
        </div>


        <style>
          .container-fluid{
            margin-top: -10px;
          }
          ul{
            display:flex;
            justify-content: space-between;
          }
        </style>

    </nav>

    {% block slider %} {% endblock slider %}
    {% block main-content %} {% endblock main-content %}
    {% block information %} {% endblock information %}
    {% block TopAch-container %} {% endblock TopAch-container %}

   


    
      <footer class="container-fluid fixed-bottom text-center " style= "background-color: maroon;">
        copyright reserved: 2025 || Develop by @Tko Mthembu
      </footer>
     
      
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

  </body> 

  
  
  <style>
    body{
      border: none;
      width: 100%;
    }
  </style>
  
  
</html>
